<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Standard.css">
    <link rel="stylesheet" href="Style.css">

    <header class="header">

        <a href="/"> <img src="DMMLogo.jpg" alt="DMM Logo" width="66px" height="69"></a>
        <sup><b>DMM</b> - <small><small><i>"Fix dit madspild, det er tid til at stoppe"</i></small></small></sup>
    </header>
    <div class="MenuBackGround">
        <!-- Front page -->
        <div class="dropdown">
            <a href="/" >
                <button class="dropbtn">
                    Forside
                </button>
            </a>
        </div>
        <!-- First Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Om Mad</button>
            <div class="dropdown-content">
                <a href="/firstPage">madspild</a>
                <a href="/underConstructionPage">madspilds support</a>
            </div>
        </div>
        <!-- Second Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Om oss</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Vores Nyheder</a>
                <a href="/underConstructionPage">Bestryelses poster</a>
                <a href="/underConstructionPage">Regnskab</a>
                <a href="/underConstructionPage">Sammarbejdspartnere</a>
            </div>
        </div>
        <!-- Third Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Hvad kan du gøre!'</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Tilmeld Firma</a>
                <a href="/underConstructionPage">Bliv frivillig</a>
                <a href="/underConstructionPage">Skraldesteder</a>
                <a href="/donatePage">Donationer</a>
            </div>
        </div>
        <!-- Fourth Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Info</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Till firmaer</a>
                <a href="/underConstructionPage">Vores restuarant</a>
                <a href="/menu">Menu</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Questionable Pages</button>
            <div class="dropdown-content">
                <a href="https://www.boeing.com/commercial/737max/" target="_blank">Nr 1</a>
                <a href="https://www.google.dk/" target="_blank">Nr 2</a>
                <a href="https://www.youtube.com/watch?v=G1IbRujko-A" target="_blank">Nr 3</a>
            </div>
        </div>
    </div>
    <!-- Content below here -->
<body>
<div class="boks" style="float: right">
    <span id="minute">
        00
    </span>
    :
    <span id="second">
        00
    </span>

    <div> </div>

    <span id="food">
        0
    </span>

    <span>Ton mad smidt ud</span>
    <h2>Rigtig meget mad bliver smidt ud</h2>
    <h2>I kg eller tons </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere velit quis porta rutrum. Cras tortor enim, pretium quis tincidunt in, molestie scelerisque purus. Aliquam lorem dui, tempor eget ornare vel, tristique non nisi. Mauris in maximus elit, eget semper erat. Nam vehicula feugiat ultrices. Donec elementum sagittis felis eget eleifend. In rhoncus, tellus vitae euismod blandit, tortor nisi convallis diam, vel rhoncus massa lectus id velit. Proin orci ante, rhoncus id dictum ac, volutpat at nunc. Nam mattis, mi eget pretium tristique, elit dolor commodo magna, at varius massa mauris sed nulla. Aenean ultrices, tellus placerat pretium cursus, lorem massa posuere quam, non laoreet sem velit ac tortor.</p>
</div>

<div class="boks" style="float: left">
    <img src="https://www.consilium.europa.eu/media/46927/infocus-food-waste.jpg">
    <h1>Mad smidt ud hvert sekund</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere velit quis porta rutrum. Cras tortor enim, pretium quis tincidunt in, molestie scelerisque purus. Aliquam lorem dui, tempor eget ornare vel, tristique non nisi. Mauris in maximus elit, eget semper erat. Nam vehicula feugiat ultrices. Donec elementum sagittis felis eget eleifend. In rhoncus, tellus vitae euismod blandit, tortor nisi convallis diam, vel rhoncus massa lectus id velit. Proin orci ante, rhoncus id dictum ac, volutpat at nunc. Nam mattis, mi eget pretium tristique, elit dolor commodo magna, at varius massa mauris sed nulla. Aenean ultrices, tellus placerat pretium cursus, lorem massa posuere quam, non laoreet sem velit ac tortor.</p>
</div>


<script src="script.js"></script>
</body>
</head>
</html>