<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Standard.css">

    <header class="header">

        <a href="/"> <img src="DMMLogo.jpg" alt="DMM Logo" width="66px" height="69"></a>
        <sup><b>DMM</b> - <small><small><i>"Fix dit madspild"</i><small><small> - det er tid til at stoppe</small></small></small></small></sup>
    </header>
    <div class="MenuBackGround">
        <!-- Front page -->
        <div class="dropdown">
            <a href="/" >
                <button class="dropbtn">
                    Forside
                </button>
            </a>
        </div>
        <!-- First Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Om Mad</button>
            <div class="dropdown-content">
                <a href="/firstPage">madspild</a>
                <a href="/underConstructionPage">madspilds support</a>
            </div>
        </div>
        <!-- Second Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Om oss</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Vores Nyheder</a>
                <a href="/underConstructionPage">Bestryelses poster</a>
                <a href="/underConstructionPage">Regnskab</a>
                <a href="/underConstructionPage">Sammarbejdspartnere</a>
            </div>
        </div>
        <!-- Third Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Hvad kan du gøre!'</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Tilmeld Firma</a>
                <a href="/underConstructionPage">Bliv frivillig</a>
                <a href="/underConstructionPage">Skraldesteder</a>
                <a href="/donatePage">Donationer</a>
            </div>
        </div>
        <!-- Fourth Drop down window-->
        <div class="dropdown">
            <button class="dropbtn">Info</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Till firmaer</a>
                <a href="/underConstructionPage">Vores restuarant</a>
                <a href="/underConstructionPage">Menu</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Questionable Pages</button>
            <div class="dropdown-content">
                <a href="/underConstructionPage">Nr 1</a>
                <a href="/underConstructionPage">Nr 2</a>
                <a href="/underConstructionPage">Nr 3</a>
            </div>
        </div>
    </div>
    <!-- Content below here -->
<body>
    test page

</body>
</head>
</html>